<ng-template #userTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title font-weight-bold">Crear un nuevo usuario</h4>
    <button type="button" class="close" (click)="dismiss(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form autocomplete="off" [formGroup]="userForm" (ngSubmit)="createUser(modal)">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input type="text" id="username" class="form-control" placeholder="Nombre de usuario"
          [formControl]="username"
          [arfFormErrorHandler]="username" trim="blur">
        </div>
        <div class="form-group col-sm-6">
          <input type="email" id="email" class="form-control" placeholder="Correo electrónico"
          [formControl]="email"
          [arfFormErrorHandler]="email" trim="blur">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input type="password" id="password" class="form-control" placeholder="Contraseña"
          [formControl]="password"
          [arfFormErrorHandler]="password" trim>
        </div>
        <div class="form-group col-sm-6">
          <input type="password" id="confirm-password" class="form-control" placeholder="Confirmar Contraseña"
          [formControl]="confirmPassword"
          [arfFormErrorHandler]="confirmPassword" trim>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input type="text" id="first-name" class="form-control" placeholder="Nombres"
            [formControl]="firstName"
            [arfFormErrorHandler]="firstName" trim="blur">
        </div>
        <div class="form-group col-sm-6">
          <input type="text" id="last-name" class="form-control" placeholder="Apellidos"
            [formControl]="lastName"
            [arfFormErrorHandler]="lastName" trim="blur">
        </div>
      </div>
      <div class="form-group">
        <label for="role">Rol</label>
        <arf-dropdown-select id="role" [items]="dropdownRoleSelect.data"
          [options]="dropdownRoleSelect.options"
          [style]="dropdownRoleSelect.style"
          [formControl]="role"
          [arfFormErrorHandler]="role">
        </arf-dropdown-select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!userForm.valid || (loading$ | async)">
        <fa-icon [icon]="(loading$ | async) ? [ 'fas', 'spinner' ] : [ 'fas', 'users' ]" [spin]="loading$ | async"></fa-icon>
        Guardar Usuario
      </button>
    </div>
  </form>
</ng-template>
