<ng-template #aircraftTemplate let-modal>
  <ng-container *ngIf="!!aircraft">
    <ng-template [ngTemplateOutlet]="aircraftModalTemplate" [ngTemplateOutletContext]="{ $implicit: modal }"></ng-template>
  </ng-container>
</ng-template>

<ng-template #aircraftModalTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Actualizar aeronave<br>
      <strong class="font-weight-bold h4 mb-0">{{ aircraftName }}...</strong>
    </h5>
    <button type="button" class="close" (click)="dismiss(modal)" [disabled]="loading$ | async">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form autocomplete="off" [formGroup]="aircraftForm" (ngSubmit)="updateAircraft(modal)">
    <div class="modal-body">
      <div class="form-group mb-0">
        <input type="hidden" id="aircraft-id" class="form-control" [formControl]="id">
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="name">Nombre</label>
          <input type="text" id="aircraft-name" class="form-control" placeholder="Nombre del aeronave"
            [formControl]="name"
            [arfFormErrorHandler]="name" trim="blur">
        </div>
        <div class="form-group col-sm-6">
          <label for="state">Estado</label>
          <arf-dropdown-select id="state" [multiple]="false"
            [items]="dropdownStateSelect.data"
            [options]="dropdownStateSelect.options"
            [style]="dropdownStateSelect.style"
            [formControl]="state"
            [arfFormErrorHandler]="state">
          </arf-dropdown-select>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea type="text" id="name" class="form-control" placeholder="Una breve descripción del aeronave (opcional)..."
          cols="1" rows="3" [ngStyle]="{
            resize: 'vertical',
            'max-height.px': 168,
            'min-height.px': 48
          }"
          [formControl]="description"
          [arfFormErrorHandler]="description" trim="blur">
        </textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!aircraftForm.valid || (loading$ | async)">
        <fa-icon [icon]="(loading$ | async) ? [ 'fas', 'spinner' ] : [ 'far', 'paper-plane' ]" [spin]="loading$ | async"></fa-icon>
        Actualizar Aeronave
      </button>
    </div>
  </form>
</ng-template>
