<overlay-scrollbars class="sidebar_wrapper" [options]="scrollbarOptions">
  <div class="sidebar_user">
    <div class="sidebar_user-photo">
      <img src="assets/images/user-profile.png" alt="">
    </div>
    <div class="sidebar_user-info">
      <p class="text-truncate">Buen día, {{ userName | async }}</p>
    </div>
  </div>
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active" *ngxPermissionsOnly="allowRoles">
      <a class="nav-link" [routerLink]="ROUTES.ROLES">
        <fa-icon [icon]="[ 'fas', 'user-shield' ]" size="2x"></fa-icon>
        <p>Roles<span class="badge badge-success">¡Nuevo!</span></p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngxPermissionsOnly="allowUsers">
      <a class="nav-link" [routerLink]="ROUTES.USERS">
        <fa-icon [icon]="[ 'fas', 'users' ]" size="2x"></fa-icon>
        <p>Usuarios</p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngxPermissionsOnly="allowRentals">
      <a class="nav-link" [routerLink]="ROUTES.RENTALS">
        <fa-icon [icon]="[ 'fas', 'fighter-jet' ]" size="2x"></fa-icon>
        <p>Alquiler de Aeronaves</p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngxPermissionsOnly="allowAircrafts">
      <a class="nav-link" [routerLink]="ROUTES.AIRCRAFTS">
        <fa-icon [icon]="[ 'far', 'paper-plane' ]" size="2x"></fa-icon>
        <p>Aeronaves</p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngxPermissionsOnly="allowPassengers">
      <a class="nav-link" [routerLink]="ROUTES.PASSENGERS">
        <fa-icon [icon]="[ 'fas', 'briefcase' ]" size="2x"></fa-icon>
        <p>Pasajeros</p>
      </a>
    </li>
  </ul>
</overlay-scrollbars>
