<ng-template #passengerTemplate let-modal>
  <ng-container *ngIf="!!passenger">
    <ng-container [ngTemplateOutlet]="passengerModalTemplate" [ngTemplateOutletContext]="{
      $implicit: modal,
      passenger: passenger
    }"></ng-container>
  </ng-container>
</ng-template>

<ng-template #passengerModalTemplate let-modal let-passenger="passenger">
  <div class="modal-header">
    <h5 class="modal-title font-weight-bold">Descripción del pasajero...</h5>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 d-flex align-items-center py-2">
          <h6 class="text-muted mb-0">Documento de identificación</h6>
        </div>
        <div class="col-sm-8 d-flex align-items-center py-2">
          <p class="font-weight-bold mb-0">{{ passenger.identificationDocument }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 d-flex align-items-center py-2">
          <h5 class="text-muted mb-0">Nombres</h5>
        </div>
        <div class="col-sm-8 d-flex align-items-center py-2">
          <p class="h5 mb-0">{{ passenger.firstName }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 d-flex align-items-center py-2">
          <h5 class="text-muted mb-0">Apellidos</h5>
        </div>
        <div class="col-sm-8 d-flex align-items-center py-2">
          <p class="h5 mb-0">{{ passenger.lastName }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 d-flex align-items-center py-2">
          <h5 class="text-muted mb-0">Especialidad</h5>
        </div>
        <div class="col-sm-8 d-flex align-items-center py-2">
          <p class="text-black-50 mb-0">{{ passenger.specialty }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary text-light" (click)="close(modal)">
      <fa-icon [icon]="[ 'fas', 'times' ]" size="lg"></fa-icon>
      Cerrar
    </button>
  </div>
</ng-template>
