<div class="auth-panel">
  <div class="login-info-box">
    <h2>Tienes una cuenta?</h2>
    <p>Accede e interactua con el panel administrativo para un proceso de alquiler</p>
    <a class="btn btn-outline-primary" role="button" routerLink="login">Iniciar Sesión</a>
  </div>
  <div class="register-info-box">
    <h2>No tienes una cuenta?</h2>
    <p>Has un proceso de alquiler para hacer un viaje interestelar</p>
    <a class="btn btn-outline-secondary" role="button" routerLink="register">Registrarse</a>
  </div>
  <div class="type-panel">
    <router-outlet></router-outlet>
  </div>
</div>
