<div class="container-fluid px-0 px-sm-2 px-lg-3">
  <div class="table-container">
    <div class="d-sm-flex justify-content-between align-items-center bg-dark px-3 py-2">
      <h4 class="text-light my-1 my-sm-0">Roles</h4>
      <a type="button" class="btn btn-success btn-sm my-1 my-sm-0" [ngClass]="{ disabled: loading$ | async }"
        routerLink="create">
        <fa-icon [icon]="[ 'fas', 'plus-circle' ]" size="lg"></fa-icon>
        Crear un nuevo rol
      </a>
    </div>
    <overlay-scrollbars class="table-responsive-sm" [options]="scrollbarOptions">
      <table class="table table-sm table-bordered table-hover">
        <ng-container *ngIf="roles$ | async as roles; else loadingRoles">
          <ng-container *ngIf="!!roles.length; else noRolesFound">
            <ng-container *ngTemplateOutlet="header; context: { $implicit: true }"></ng-container>
            <tbody>
              <tr *ngFor="let role of roles; let index = index">
                <th scope="row" class="text-center">{{ index + 1 }}</th>
                <td class="miw-18">{{ role.displayName }}</td>
                <ng-container [ngTemplateOutlet]="actions" [ngTemplateOutletContext]="{ $implicit: role.id }"></ng-container>
              </tr>
            </tbody>
          </ng-container>
        </ng-container>
      </table>
    </overlay-scrollbars>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #actions let-roleId>
  <td class="table-actions">
    <div class="table-actions__content">
      <a role="button" class="btn text-primary" placement="top" ngbTooltip="Detalles"
        [routerLink]="[ 'details/' + roleId ]">
        <fa-icon [icon]="[ 'far', 'eye' ]" size="lg"></fa-icon>
      </a>
    </div>
  </td>
</ng-template>

<ng-template #header let-hasRoles>
  <caption *ngIf="!!hasRoles">Roles disponibles</caption>
  <thead class="thead-light">
    <tr class="text-center">
      <th scope="col">N°</th>
      <th scope="col" class="miw-18">Nombre del rol</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
</ng-template>

<ng-template #noRolesFound>
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <tbody>
    <tr>
      <td colspan="3" class="text-black-50 text-center table-light">No hay roles registrados</td>
    </tr>
  </tbody>
</ng-template>

<ng-template #loadingRoles>
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <tbody>
    <tr>
      <th scope="row" colspan="3" class="text-black-50 text-center table-light">Cargando...</th>
    </tr>
  </tbody>
</ng-template>
