.table-container {
  width: 100%;

  tbody th,
  tbody td {
    max-width: none;
  }
}

@media (min-width: 576px) {
  .table-container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .table-container {
    width: 50%;
  }
}
