.table-container {
  width: 100%;

  thead th,
  tbody th,
  tbody td {
    max-width: none;
  }
}

@media (min-width: 768px) {
  .table-container {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .table-container {
    width: 50%;
  }
}
