<div class="container-fluid px-0 px-sm-2 px-lg-3">
  <arf-create-rental (refresh)="syncData($event)"></arf-create-rental>
  <div class="table-container">
    <overlay-scrollbars class="table-responsive" [options]="scrollbarOptions">
      <table class="table table-sm table-borderless table-striped">
        <ng-container *ngIf="rentals$ | async as rentals; else loadingRentals">
          <ng-container *ngIf="!!rentals.length; else noRentalsFound">
            <ng-container *ngTemplateOutlet="header; context: { $implicit: true }"></ng-container>
            <tbody>
              <tr class="text-center" *ngFor="let rental of rentals | rentalsDisplay | async; let index = index; trackBy: trackByRentals">
                <th scope="row">{{ index + 1 }}</th>
                <td class="text-truncate">{{ rental.aircraft.name }}</td>
                <td class="text-truncate text-secondary">{{ rental.location }}</td>
                <td class="text-truncate miw-25">{{ rental.departureDate | date : 'MMM d, y, h:mm:ss a' }}</td>
                <td class="text-truncate miw-25">{{ rental.arrivalDate | date : 'MMM d, y, h:mm:ss a' }}</td>
                <td class="text-truncate miw-18">{{ rental.passengersAmount }}</td>
                <ng-container [ngTemplateOutlet]="actions" [ngTemplateOutletContext]="{ $implicit: rental.id }"></ng-container>
              </tr>
            </tbody>
          </ng-container>
        </ng-container>
      </table>
    </overlay-scrollbars>
  </div>
</div>

<ng-template #actions let-rentalId>
  <td class="table-actions miw-18">
    <div class="table-actions__content">
      <a role="button" class="btn text-primary" placement="top" ngbTooltip="Detalles"
        [routerLink]="[ 'details/' + rentalId ]">
        <fa-icon [icon]="[ 'far', 'eye' ]" size="lg"></fa-icon>
      </a>
    </div>
  </td>
</ng-template>

<ng-template #noRentalsFound>
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <tbody>
    <td colspan="7" class="text-black-50 text-center table-active">No hay alquileres disponibles</td>
  </tbody>
</ng-template>

<ng-template #loadingRentals>
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <tbody>
    <th scope="row" colspan="7" class="text-black-50 text-center table-active">Cargando...</th>
  </tbody>
</ng-template>

<ng-template #header let-hasRentals>
  <caption *ngIf="!!hasRentals">Alquileres disponibles</caption>
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">N°</th>
      <th scope="col" class="text-center">Aeronave</th>
      <th scope="col">Ubicación</th>
      <th scope="col" class="miw-25">Salida</th>
      <th scope="col" class="miw-25">Llegada</th>
      <th scope="col" class="miw-18">Número de pasajeros</th>
      <th scope="col" class="miw-18">Acciones</th>
    </tr>
  </thead>
</ng-template>
